/* userList.module.css */
.container{
    max-height: 500px;
    height: 400px;
    overflow-y: auto;
    margin-top: 30px;
}
.userTable {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-transform: capitalize;
    overflow-y: auto;
}

.userTable th,
.userTable td {
    padding: 10px 10px; /* Augmenter le padding pour plus d'espace */
    text-align: left;
    border-bottom: 1px solid #c6c4c4;
}

.userTable th {
    background-color: transparent; /* Couleur de fond pour l'en-tête */
    color: rgb(108, 107, 107);
    font-weight: bold;
}

.userTable tr {
    transition: background-color 0.3s ease; /* Animation fluide pour le survol */
    background-color: #ffffff;
}

.userTable tr:hover {
    background-color: #f1f1f1; /* Couleur de survol pour les lignes */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère au survol */
}

.editButton,
.deleteButton {
    padding: 8px 10px; /* Ajuster le padding pour les boutons */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Augmenter la taille de la police */
    margin-right: 5px;
    transition: background-color 0.3s ease; /* Animation fluide pour les boutons */
}

.editButton {
    background-color: #08041d; /* Couleur pour modifier */
    color: white;
}

.editButton:hover {
    background-color: #218838; /* Couleur au survol */
}

.deleteButton {
    background-color: #dc3545; /* Couleur pour supprimer */
    color: white;
}

.deleteButton:hover {
    background-color: #c82333; /* Couleur au survol */
}